# Nombre del proyecto.
# Se utiliza en el index, PWA, etiquetas meta y componentes de UI.
VITE_APP_NAME=

# Descripción del proyecto.
# Se utiliza en etiquetas meta.
VITE_APP_DESCRIPTION=

# URL pública completa del proyecto (incluye https://).
# Se utiliza en etiquetas meta.
VITE_APP_URL=

# URL del repositorio del proyecto.
# Se utiliza en la sección de créditos del diálogo de configuración.
VITE_APP_REPO=