.shortcuts {
  gap: 0.5rem;
}

.shortcuts,
.item,
.keys {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.item:not(:last-of-type):after {
  content: "|";
  margin-left: 0.5rem;
}

.keys kbd:not(:last-of-type):after {
  content: ",";
  margin-right: 0.1rem;
}

.keys kbd.disabled {
  opacity: 0.5;
}

.action:before {
  content: "·";
  margin: 0 0.3rem;
}

/* Dispositivos táctiles */
@media (pointer: coarse) {
  .shortcuts {
    display: none;
  }
}
