:root {
  --color-white: #ffffff;
  --color-blue: #adc0d2;
  --color-blue-2: #3db4f2;
  --color-blue-3: #3577ff;
  --color-blue-4: #26304b;
  --color-blue-5: #0b1622;
  --color-green: #75f088;
  --color-red: #f09275;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 1rem;
  min-height: 100vh;
  background-color: var(--color-blue-5);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-blue);
}

body, #root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--color-blue-2);
  text-decoration: none;
}

p {
  margin: 0;
}

#root {
  max-width: 40rem;
}

.character,
.character > * {
  display: flex;
  align-items: center;
}

.character .question img,
.character .answer img {
  max-width: 10rem;
  max-height: 18rem;
  background-color: var(--color-blue-4);
  border-radius: 0.5rem;
}

.character .question fieldset {
  border: 0;
}

.character .question legend {
  font-weight: 700;
  font-size: 1.1rem;
}

.character .question fieldset div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin: 0.5rem 0;
}

.character .question input[type="radio"] {
  margin: 0;
}

.character .answer {
  flex-direction: column;
  max-width: 25rem;
}

.character .answer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  text-align: center;
}

.character .answer .title {
  font-size: 2rem;
  font-weight: 700;
}

.character .answer img {
  margin: 1rem 0;
}

.character .answer.correct .title,
.character .answer.correct .description p:last-of-type a {
  color: var(--color-green);
}

.character .answer.incorrect .title,
.character .answer.incorrect .description p:last-of-type a {
  color: var(--color-red);
}

.character .answer .description p {
  font-size: 1.3rem;
}

.character .answer .description p:last-of-type {
  font-weight: 700;
  font-size: 1rem;
}

.character .answer button {
  margin: 1rem 0;
  padding: 0.5rem 0.8rem;
  background-color: var(--color-blue-3);
  border: 0;
  border-radius: 0.3rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: var(--color-white);
  animation: box-shadow 0.6s ease, transform 0.2s ease-in-out;
}

.character .answer button:hover {
  transform: scale(1.03);
  box-shadow: 0 0.1rem 0.6rem rgb(from var(--color-blue-3) r g b / 0.6);
}

.character .loading {
  flex-direction: column;
  max-width: 25rem;
}

.character .loading p:first-of-type:after {
  content: '';
  display: inline-block;
  min-width: 1rem;
  animation: dotty steps(1) 1.5s infinite;
}

.character .loading p:last-of-type {
  text-align: center;
  opacity: 0;
  animation: 10s fadeIn;
  animation-fill-mode: forwards;
  transition: opacity 0.5s ease-in;
}

@keyframes fadeIn {
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.character .score {
  display: grid;
  gap: 0.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: 0;
  text-align: center;
  font-size: 0.9rem;
}

.character .score dt {
  font-weight: bold;
}

.character .score dt:first-of-type {
  grid-column-start: 1;
  grid-row-start: 1;
}

.character .score dt:nth-of-type(2) {
  grid-column-start: 2;
  grid-row-start: 1;
}

.character .score dt:last-of-type {
  grid-column-start: 3;
  grid-row-start: 1;
}

.character .score dd {
  margin: 0;
}

@keyframes dotty {
  0%   { content: '' }
  25%  { content: '.'; }
  50%  { content: '..'; }
  75%  { content: '...'; }
  100% { content: ''; }
}

@media only screen and (max-width: 600px) {
  .character .question {
    flex-direction: column;
    gap: 1rem;
  }

  .character .question fieldset div {
    margin: 1rem 0;
  }
}